.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #22333B;
}

.background-turn-X {
  background-color: #cd493a7c;
}

.background-turn-O {
  background-color: #4391f183;
}